# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# Bot
BOT_TOKEN="TELEGRAM_BOT_TOKEN"

# PostgreSQL
URL_DB = "postgresql://postgres:password@localhost:5432/DatabaseName"